@font-face {
   font-family: 'HousttelySignature-qZo4r';
   font-display: swap;
   src: url('file:///Users/stelioskiliaris/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-02-16_170729/fonts/HousttelySignature-qZo4r/font.ttf');
}
